.post {
  width: 75%;
  height: 120px;
  max-width: 1024px;
  padding: 0 15px;
  margin: 10px auto;
  border: 3px solid #00ffff;
  display: flex;
  justify-content: space-between;
}

.buttons {
  align-self: center;
}

.edit {
  display: flex;
  margin: 10px auto;
  width: 500px;
  height: 25px;
  position: relative;
  border: 2px solid #00ffff;
}

.edit-button {
  display: flex;
  margin: auto;
  width: 140px;
  color: #008080;
  height: 30px;
  border: 2px solid #00ffff;
  
}

.edit-button:hover {
  border: 2px solid #008080;
}

.edit-button:active {
  background-color: #00ffff;
}

.form-edit{
 padding: 15px;
 background-color: #D3D3D3;
 border-radius: 20px;
 position: fixed;
 left: calc(50% - 265px);
 top: calc(50% - 75px);

}
