.post {
  width: 75%;
  height: 120px;
  max-width: 1024px;
  padding: 0 15px;
  margin: 10px auto;
  border: 3px solid #00ffff;
  display: flex;
  justify-content: space-between;
}

.buttons {
  align-self: center;
}

.edit,
.create {
  display: flex;
  margin: 10px auto;
  width: 500px;
  height: 25px;
  position: relative;
  border: 2px solid #00ffff;
}

.edit-button,
.create-button {
  display: flex;
  margin: auto;
  width: 140px;
  color: #008080;
  height: 30px;
  border: 2px solid #00ffff;
  align-items: center;
  justify-content: center;
}

.edit-button:hover,
.create-button:hover {
  border: 2px solid #008080;
}

.edit-button:active,
.create-button:active {
  background-color: #00ffff;
}

.form-edit {
  padding: 15px;
  padding-top: 40px;
  background-color: #d3d3d3;
  border-radius: 20px;
  position: fixed;
  left: calc(50% - 265px);
  top: calc(50% - 75px);
}

.form-create {
  padding: 15px;
  background-color: #d3d3d3;
  border-radius: 20px;
  position: fixed;
  left: calc(50% - 265px);
  top: calc(50% - 255px);
}


.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}

.popup {
	border: 1px solid orange;
	z-index: 99999;
	opacity: 1;	
}
.popup-close {
	position: absolute;
  cursor: pointer;
	top: 10px;
	right: 15px;
}